#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.delete-button{
  width: 25px;
  height: 25px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  margin-left: auto;
  margin-right: 50px;
}

.delete-button:hover{
  background-color: #000;
}
.delete-button:hover .image{
  color: #fff;
}

.container{
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}
.order-details,.add-items{
  width: 500px;
  border: 1px solid;
  border-radius: 20px;
  padding: 10px;

}


.items{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 40px;
}

.item{
  cursor: pointer;
  width: 220px;
  border: 1px solid #000;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.text span{
  display: block;
  text-align: start;
}

.menu-item{
  margin-left: 50px;
}

.order-item{
  display: flex;
  gap: 20px;
  align-items: center;
}

.price{
  margin-top: 30px;
}