#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container{
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}

.order-details{
  width: 400px;
  border: 1px solid;
  padding: 10px;
}

.add-items{
  border: 1px solid;
  width: 500px;
  padding: 10px;
}

.items{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.item{
  cursor: pointer;
  width: 220px;
  border: 1px solid #000;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.text span{
  display: block;
  text-align: start;
}

.hamburger{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}